*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}
header{
    height: 80px;
    width: 100%;
    background-color: blue;
    padding: 15px;
}
.nav a:hover{
    background-color: white;
  }
  .nav {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 45%;
      height: 80%;
      margin: 3px 10px;
  }
  .nav a{
    color: black;
    margin-left: 150px;
  }
  .drp{
    display: none;
    width: 180px;
    position: absolute;
    right: 350px;
    background-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .drp a {
    margin-left: 1%;
    color: black;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
  }
  .nav li:hover .drp{
      display: block;
      position: absolute;
  }