*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}
header{
    height: 80px;
    width: 100%;
    background-color: blue;
    padding: 15px;
}
.nav a:hover{
    background-color: white;
  }
  .nav {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 45%;
      height: 80%;
      margin: 3px 10px;
  }
  .nav a{
    color: black;
    margin-left: 150px;
  }
  .drp{
      position: absolute;
      background-color: white;
      display: none;
      right: 28%;
  }
  .nav li:hover .drp{
      display: block;
  }